<div class="layout">
  <aside class="sidebar">
    <div class="logo-card">
      <img src="/assets/logo-spelev.png" alt="SPELEV" />
    </div>

    <nav class="menu">
      <!-- ADMIN -->
      <a *ngIf="role() === 'ADMINISTRATEUR'" routerLink="/dashboard/admin" routerLinkActive="active" class="menu-item">
        Tableau de bord
      </a>
      <a *ngIf="role() === 'ADMINISTRATEUR'" routerLink="/utilisateurs" routerLinkActive="active" class="menu-item">
        Utilisateurs
      </a>
      <!-- RESPONSABLE -->
      <a *ngIf="role() === 'RESPONSABLE_MAINTENANCE'" routerLink="/dashboard/responsable-maintenance" routerLinkActive="active" class="menu-item">
        Tableau de bord
      </a>
      <a *ngIf="role() === 'RESPONSABLE_MAINTENANCE'" routerLink="/ascenseurs" routerLinkActive="active" class="menu-item">Ascenseurs</a>
      <a *ngIf="role() === 'RESPONSABLE_MAINTENANCE'" routerLink="/sites" routerLinkActive="active" class="menu-item">Sites</a>
      <a *ngIf="role() === 'RESPONSABLE_MAINTENANCE'" routerLink="/responsable/demandes" routerLinkActive="active" class="menu-item">Demandes</a>
      <!-- TOUS -->
      <a routerLink="/parcs" routerLinkActive="active" class="menu-item">Parcs</a>
    </nav>

    <button type="button" class="btn-deconnexion" (click)="deconnexion()">Déconnexion</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
